/*Limpar formatacoes padrao*/

*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 16px;
	font-family: "trebuchet MS", Helvetica, 
	sans-serif;
	background: #f3f3f3
}

footer{
	font-size: 14px;
	margin: 10px 0 20px 100px ;
}

h2{
	margin: 10px;
	padding: 3px;
}

/*ids*/

#navegacao{
	background: #fff;
	border-bottom: 2px solid #01998d;
	height: 60px;
	position: fixed;
	width: 100%;
	top: 0;
}


#area{
	width: 700px;
	margin: 0 auto;
}

#logo{
	padding: 0;
	float: left;
	color: #0067C5;
	font-size: 50px;
}

#menu{
	float: right;
	padding: 10px 0;
}

#servicos{
	background: #ffff;
	width: 250px;
	height: 300px;
	padding: 5px;
	margin-top: 50px;
	float: right;

}


#area-principal{
	width: 720px;
	margin: 100px auto 10px auto ;
}

#contato{
	background: #fff;
	width:1000px;
	padding: 5px;
	margin: 55px 5px 55px 130px;
}


#galeria-foto{
				background: #FFFFFF;
				width: 	265px;
				padding: 5px;
				float: left;
				margin: 110px 5px 55px 110px;
			}

#postagem{
	background: #ffff;
	padding: 50px;
	
	margin-bottom: 20px;
}


#postagem-2{
	background: #ffff;
	padding: 10px;
	height: 100px;
	margin-bottom: 20px;
}

#formulario{
	border: 2px solid #01998d;
	margin: 30px;
	padding: 10px;
}

#img-destino{
	margin: 60px;
	margin-left: 0;
	margin-right: auto;
	margin-bottom: 0;
	width: 100%;

}
		


/*Formatacao do menu*/
/*Classes*/

.verde{
	color: #01998d;
}

.imagens{
	height: 120px;
	width: auto;
	padding: 40px 40px  40px;
	margin: 40px;
	
}

.resumo{
	font-size: 20px;
	/*border-bottom: 2px solid #f4f4f4;*/
	display: block;
	margin: 0 auto 20px 25px;	
	color: #01998d;
}

.clear{
	clear: both;
}

.data-postagem{
	
	border-bottom: 2px solid #0067C5;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
	color: #0067C5;
}

.texto{
	padding-bottom: 10px;
	margin-bottom: 10px;
}


.imagens-2{
	float: 	left	;
	margin: 0 10px 5px 0;
	height: 120px;
	padding: 0;
	}